@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Poppins:wght@300;400;700&family=Raleway:wght@400;700&display=swap');
:root {
    --yellow: #F1BC59;
    --yellowHover: #c5902f;
    --white: #ffffff;
    --black: #1E1E1E;
    --grey: #747474;
    --font1: 'Oswald', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Raleway', sans-serif;;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html
{
  overflow-x:auto;
}

body
{
	background-color:#F6F6F6;
  padding:10px;
}

.a{
  height:150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.h1{
  margin-top:-90px;
  text-align:center;
}
.h3{
  margin-top:-90px;
  text-align:center;
}

.navigations{
  margin-left:auto;
  margin-right:auto;
}
.navigations th{
padding:10px;
}
.wrapper
{
	height:100%;
}

.left
{
	background-color:rgba(0,0,0,.025);
	border-right:1px solid rgba(0,0,0,.05);
	float:right;
	height:100%;
	margin-left:-1px;
	max-width:350px;
	position:fixed;
	width:33.33%;
  
}

.right
{
	float:right;
	height:100%;
	position:relative;
	width:75.66%;
}

.inner
{
	margin:0 auto;
	max-width:975px;
	padding:3em;
}
table th{
	font-family: var(--font2);
}
table td{
	font-family: var(--font3);
}
.title{
  font-family: var(--font1);
}
a{
  text-decoration:none;
  color:black
}
a:hover {
  color:black;
}
.container th{
    border-radius: 30px;
    background-color: #e9b656;
    padding: 5px;
    margin-bottom: 8px;
}
.container table{
    border-collapse: separate;
    border-spacing: 5px 8px;
}

@media screen and (max-width: 48em) {
	.right,.left
	{
		float:none;
    position:relative !important;
		width:100%;
    min-height:500px;
	}
  .handmade {
  text-align:center !important;
  margin-top:0px !important;
}

@media screen and (max-width: 75em) {
    body
{ font-size:16px;}
}

@media screen and (max-width: 60em) {
    body
{ font-size:14px;}
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}